:root {
  --col-blue: #1FFF93;
  --col-blue-rgb: 31, 255, 147;
  --col-teal: #1FC9FF;
  --col-black: #373747;
  --col-bg: #FFFFFF;
  --col-fg: var(--col-black);
  --gray-2: #edf2f6;
  --max-contrast: #000000;
  /* Shadows */
  --shadow-blue-light: 0px 10px 20px rgba(var(--col-blue-rgb), 0.6);
  --shadow-blue-dark: 0px 10px 20px rgba(var(--col-blue-rgb), 0.2);
  --shadow-blue: var(--shadow-blue-light);
}

body.dark {
  --col-bg: var(--col-black);
  --col-fg: #cdcdcd;
  --gray-2: #434358;
  --max-contrast: #ffffff;
  --shadow-blue: var(--shadow-blue-dark)
;
}

* {
  color: var(--col-fg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

html {
  font-size: 10px;
}

body {
  width: 200vw;
  margin: 0;
  overflow-x: hidden;
  --sidebar-width: 0px;
  background: var(--col-bg);
}

body.show-aside {
  --sidebar-width: 239px;
}

body.show-aside aside {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

header {
  z-index: 100;
  background: var(--col-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5.6rem;
  -webkit-box-shadow: rgba(2, 8, 20, 0.06) 0px 1px 3px, rgba(2, 8, 20, 0.04) 0px 1px 2px;
          box-shadow: rgba(2, 8, 20, 0.06) 0px 1px 3px, rgba(2, 8, 20, 0.04) 0px 1px 2px;
  padding: 0rem 2rem;
}

header button {
  background: none;
  border: none;
  margin-right: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(2, 8, 20, 0.1);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  -webkit-transition: 100ms;
  transition: 100ms;
  cursor: pointer;
}

header button:focus {
  outline: none;
}

header button:hover::before, header button:focus::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

header div.left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav {
  display: none;
}

header nav a {
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  color: var(--col-fg);
  opacity: 0.5;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 2rem;
}

header nav a:hover {
  opacity: 1;
}

header nav a.selected {
  color: var(--max-contrast);
  opacity: 1;
}

header #logo {
  height: 70% !important;
  margin-right: 2rem;
}

header #logo img {
  height: 100% !important;
}

aside {
  position: fixed;
  left: 0;
  top: 5.6rem;
  overflow: auto;
  word-wrap: break-word;
  width: 239px;
  height: calc(100vh - 5.6rem);
  border-right: 1px solid var(--gray-2);
  padding: 3rem 2rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

aside h3 {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

aside a {
  color: #8998a5;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  padding: 1rem;
  border-radius: 2px;
  display: block;
  -webkit-transition: color 100ms;
  transition: color 100ms;
}

aside a:hover {
  color: var(--max-contrast);
}

main {
  position: absolute;
  left: var(--sidebar-width);
  top: 5.6rem;
  width: calc(100vw - var(--sidebar-width));
  min-height: calc(100vh - 5.6rem);
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  -ms-grid-columns: 1fr clamp(300px, calc(100vw - var(--sidebar-width)), 800px) 1fr;
      grid-template-columns: 1fr clamp(300px, calc(100vw - var(--sidebar-width)), 800px) 1fr;
  font-size: 1.6rem;
}

main div.body {
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 2rem 4rem;
  max-width: 100%;
}

main div.body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

main h1.title {
  font-size: 6rem;
  font-weight: 700;
}

main p.description {
  font-size: 1.92rem;
  color: #abb2bf;
  font-weight: lighter;
}

main h1,
main h2,
main h3 {
  color: var(--max-contrast);
  font-weight: 400;
}

main a {
  color: #1e90ff;
}

main * {
  line-height: 1.7;
}

@media screen and (min-width: 800px) {
  body {
    --sidebar-width: 239px;
  }
  body aside {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
  nav {
    display: unset !important;
  }
  #hamburger {
    display: none;
  }
}

/* PRISM */
body:not(.dark) main code {
  font-size: 0.8em;
  border-radius: 2px;
  color: #e96900;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
  font-family: "Fira Code", "Courier New", "Roboto Mono", Monaco, courier, monospace;
}

body:not(.dark) main code,
body:not(.dark) main pre {
  background-color: #f8f8f8;
  font-family: "Fira Code", "Courier New", "Roboto Mono", Monaco, courier, monospace;
}

body:not(.dark) main pre {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  line-height: 1.2;
  margin: 1.2em 0;
  overflow: auto;
  padding: 0 1.4rem;
  position: relative;
  word-wrap: normal;
}

body:not(.dark) .token {
  font-family: "Fira Code", "Courier New", "Roboto Mono", Monaco, courier, monospace;
}

body:not(.dark) .token.cdata,
body:not(.dark) .token.comment,
body:not(.dark) .token.doctype,
body:not(.dark) .token.prolog {
  color: #8e908c;
}

body:not(.dark) .token.namespace {
  opacity: 0.7;
}

body:not(.dark) .token.boolean,
body:not(.dark) .token.number {
  color: #c76b29;
}

body:not(.dark) .token.punctuation {
  color: #525252;
}

body:not(.dark) .token.property {
  color: #c08b30;
}

body:not(.dark) .token.tag {
  color: #2973b7;
}

body:not(.dark) .token.string {
  color: var(--theme-color, #42b983);
}

body:not(.dark) .token.selector {
  color: #6679cc;
}

body:not(.dark) .token.attr-name {
  color: #2973b7;
}

body:not(.dark) .language-css .token.string,
body:not(.dark) .style .token.string,
body:not(.dark) .token.entity,
body:not(.dark) .token.url {
  color: #22a2c9;
}

body:not(.dark) .token.attr-value,
body:not(.dark) .token.control,
body:not(.dark) .token.directive,
body:not(.dark) .token.unit {
  color: var(--theme-color, #42b983);
}

body:not(.dark) .token.function,
body:not(.dark) .token.keyword {
  color: #e96900;
}

body:not(.dark) .token.atrule,
body:not(.dark) .token.regex,
body:not(.dark) .token.statement {
  color: #22a2c9;
}

body:not(.dark) .token.placeholder,
body:not(.dark) .token.variable {
  color: #3d8fd1;
}

body:not(.dark) .token.deleted {
  text-decoration: line-through;
}

body:not(.dark) .token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

body:not(.dark) .token.italic {
  font-style: italic;
}

body:not(.dark) .token.bold,
body:not(.dark) .token.important {
  font-weight: 700;
}

body:not(.dark) .token.important {
  color: #c94922;
}

body:not(.dark) .token.entity {
  cursor: help;
}

body:not(.dark) main pre > code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #525252;
  display: block;
  font-family: Roboto Mono, Monaco, courier, monospace;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 2.2em 5px;
  white-space: inherit;
  font-size: 0.8em;
}

body:not(.dark) main code:after,
body:not(.dark) main code:before {
  letter-spacing: 0.05rem;
}

body:not(.dark) code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 1.5rem;
  position: relative;
  left: auto;
}

body:not(.dark) pre:after {
  color: #ccc;
  content: attr(data-lang);
  font-size: 0.6em;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

body.dark main code {
  font-size: 0.8em;
  border-radius: 2px;
  color: #e96900;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
  font-family: "Fira Code", "Courier New", "Roboto Mono", Monaco, courier, monospace;
}

body.dark main code,
body.dark main pre {
  background-color: #1e1b2c;
  font-family: "Fira Code", "Courier New", "Roboto Mono", Monaco, courier, monospace;
}

body.dark main pre {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  line-height: 1.2;
  margin: 1.2em 0;
  overflow: auto;
  padding: 0 1.4rem;
  position: relative;
  word-wrap: normal;
}

body.dark .token {
  font-family: "Fira Code", "Courier New", "Roboto Mono", Monaco, courier, monospace;
}

body.dark .token.cdata,
body.dark .token.comment,
body.dark .token.doctype,
body.dark .token.prolog {
  color: #5e5f68;
}

body.dark .token.namespace {
  opacity: 0.7;
}

body.dark .token.boolean,
body.dark .token.number {
  color: #8d1def;
}

body.dark .token.punctuation {
  color: #2194cd;
}

body.dark .token.property {
  color: #e5a028;
}

body.dark .token.tag {
  color: #2973b7;
}

body.dark .token.string {
  color: var(--theme-color, #42b983);
}

body.dark .token.selector {
  color: #6679cc;
}

body.dark .token.attr-name {
  color: #2973b7;
}

body.dark .language-css .token.string,
body.dark .style .token.string,
body.dark .token.entity,
body.dark .token.url {
  color: #22a2c9;
}

body.dark .token.attr-value,
body.dark .token.control,
body.dark .token.directive,
body.dark .token.unit {
  color: var(--theme-color, #42b983);
}

body.dark .token.function,
body.dark .token.keyword {
  color: #e028a0;
}

body.dark .token.atrule,
body.dark .token.regex,
body.dark .token.statement {
  color: #22a2c9;
}

body.dark .token.placeholder,
body.dark .token.variable {
  color: #3d8fd1;
}

body.dark .token.deleted {
  text-decoration: line-through;
}

body.dark .token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

body.dark .token.italic {
  font-style: italic;
}

body.dark .token.bold,
body.dark .token.important {
  font-weight: 700;
}

body.dark .token.important {
  color: #c9228e;
}

body.dark .token.parameter,
body.dark .token.class-name {
  color: #42b983;
}

body.dark .token.entity {
  cursor: help;
}

body.dark main pre > code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: #1e1b2c;
  border-radius: 2px;
  color: #cfd7de;
  display: block;
  font-family: Roboto Mono, Monaco, courier, monospace;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 2.2em 5px;
  white-space: inherit;
  font-size: 0.8em;
}

body.dark main code:after,
body.dark main code:before {
  letter-spacing: 0.05rem;
}

body.dark code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 1.5rem;
  position: relative;
  left: auto;
}

body.dark pre:after {
  color: #ccc;
  content: attr(data-lang);
  font-size: 0.6em;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
/*# sourceMappingURL=index.css.map */