:root {
    --col-primary: #F8134A;
    --col-primary-tint: #fa416c;
    --col-primary-tint-transparent: #fa416c88;
    --col-primary-ultra-light: #f5ebee;
    --col-black: #373747;
    --col-bg: #FFFFFF;
    --col-fg: var(--col-black);
    --gray-2: #edf2f6;
    --max-contrast: #000000;
}
/*
body.dark {
    --col-bg: var(--col-black);
    --col-fg: #cdcdcd;
    --gray-2: #434358;
    --max-contrast: #ffffff;
    --shadow-blue: var(--shadow-blue-dark)
}
*/